body{
    margin: 0;
}
.wrapper{
    border-top: 8px solid #a292b3;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.header{
    height: 130px;
    
    width: 1020px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    
    

.link-item{
    text-decoration: none;
    font-size: 19px;
    color: #767676;
    text-transform: capitalize;/*каждое новое слово с большой буквы*/
    margin-right: 65px;
    
}
.link-item:last-child{
    margin-right: 0;

}
.baner{
    width: 1020px;
    height: 485px;
    background-color: yellow;
    background-image: url('../images/baner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.slide-btn{
    width: 35px;
    height: 65px;
    background-color: #82699d;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

}
.baner-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}
.baner-title{
    text-transform: capitalize;
    font-size: 117px;
    text-shadow: -4px 5px 0 rgba(0, 0, 0, .75);
    margin-bottom: 30px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
}
.baner-descr{
    font-size: 31px;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .45);
}
.tips{
    height: 135px;
    width: 1020px;
    margin: 40px auto;
    padding: 20px 50px 25px 50px;
    border-top: 1px solid #bfbfbf;   
    border-bottom: 1px solid #bfbfbf;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    line-height: 32px;/*настройка межстрочного интервала*/
    box-sizing: border-box;/*компенсирует увеличеие блока при использовании падинг.бордер*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*функция для подключения шрифта*/

}
.tips-bold{
    font-weight: bold;
    color: #82699d;
}
.card{
    width: 1020px;
    padding: 0 22px;
    margin: 40px auto;
    box-sizing: border-box;
    height: 315px;
    display: flex;
    position: relative;
    margin-top: 31px;
    align-items: center;

    
    
}
.more{
    position: absolute;/*елемент сам посибе*/
    right: 0;   /*задаем положение елемента*/
    bottom: 0; /*задаем положение елемента*/
    font-size: 13px;
    font-style: italic;
    color: #838383;
    cursor: pointer;
    transition: .4s;/*плавность замены цвета*/

}
.card-info{
    margin-left: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-titl{
    font-weight: bold;
    font-size: 31px;

}
.card-text{
    font-weight: 400;
    font-size: 15px;
    color: #838383;

}
.more:hover{
    filter: hue-rotate(80deg);/*меняем цвет при наведении*/
    color: purple;
}
.divider{
    width: 1020px;
    margin: 40px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    display: flex;
    align-items: center;

}
.divider-line{
    width: 100%;
    margin-left:8px;
    border-top: 3px dotted #bfbfbf;


}
.divider-text{
    white-space: nowrap;/*запрещает перенос строчек текста*/
}
.clients{

    width: 1020px;
    border: 1px solid #e4e4e4;
    background-color: #f5f5f5;
    display: flex;
    margin: 40px auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}
.client-inem{
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.client-inem:last-child{/* выбор последнего элемента*/
    border-right: none;
}
.footer{
    width: 100%;
    height:67px;
    background:linear-gradient(15deg,red,yellow);/* разный цвет фона*/
    display: flex;
    justify-content: center;
    border-bottom: 8px solid #a292b3;
    
}
.footer-content{
    width: 1020px;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.social{
    display: flex;
    justify-content: space-between;

}
.menu{/*создаем кнопку для мобильного приложения*/
    width: 80px;
    height: 80px;
    border: 3px solid #82699d;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.menu-line{
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: relative;
    transition: 03ms;
}
.menu-line::before{
    content: '';/*обязательно занулить*/
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    bottom: 15px;

}
.menu-line::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    top: 15px;

}
.menu:hover>.menu-line{/*обращаемся к полоске*/
    background-color: transparent;/*сделали прозрачный цвет средней полоски*/
}
.menu:hover>.menu-line::after{
    transform: rotate(-45deg);
    top: 0;
}
.menu:hover>.menu-line::before{
    transform: rotate(45deg);
    bottom: 0;
}

@media screen and (max-width:1020px){
    .links{
        display: none;
    }
    .header{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .logo{
        width: 150px;
    }
    .baner-title{
        font-size: 70px;
    }
    .baner{
        width: 100%;
    }
    .tips{
        width: 100%;
        height: auto;
    }
    .card{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .divider{
        width: 100%;
        justify-content: center;
    }
    .divider-text{
        font-size: 17px;
    }
    .clients{
        width: 100%;
        flex-direction: column;
    }
    .footer-content{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .menu{
        display: flex;
    }
   
}